@media screen and (max-width: 503px) {

    .carrito {
        position: fixed;
        background-color: $color-white;
        
        .icono-carrito {
            .num {
                min-width: 2rem;
                height: 2rem;
                font-size: 1rem;
                position: absolute;
                display: block;
                top: -10px;
                left: -4px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .productosElegidos {
            padding: 5px 0;
            padding-bottom: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: #fff;

            .productosElegidos__up {
                padding-inline: 20px;
                padding-bottom: 10px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #ccc;

                .productosElegidos__tittle {
                    color: $color-principal;
                }

                .right {
                    @include flexbox (row, center, center);
                    gap: 40px;

                    .vaciar-carrito {
                        border: none;
                        background-color: inherit;
                        font-weight: 600;
                        cursor: pointer;
                    }

                    .x {
                        cursor: pointer;
                    }
                }
            }

            .productosElegidos__content {
                padding-inline: 10px;
                min-height: 50px;
                max-height: 100vh;
                overflow-y: scroll;
                @include flexbox (column, normal, center);
                gap: 10px;

                .productoElegido__container {
                    .img-producto {
                        height: 70px;
                        width: 70px;
                    }

                    .cant {
                        .icon-menos,
                        .icon-mas {
                            font-size: 1.3rem;
                        }
                    }

                    .precio {
                        font-size: 1rem;
                    }

                }

            }
        }
    }

}