.container {
    padding: 40px 0px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

a {
    text-decoration: none;
}

.disabled {
    display: none !important;
}

.title-sweet-alert-vaciado {
    font-size: 1rem;
}
                                // Estilos para el sweet alert
.title-sweet-alert-comprado {
    font-size: 1.3rem;
}
